.material-appbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  transition-property: background-color, height;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);

  &:not([class*='container-color']) {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 2;

    &.scrolled:not([class*='container-color']) {
      background-color: var(--color-surface-container);
    }
  }

  > [role='toolbar'] {
    height: 64px;
    flex-shrink: 0;

    > .headline {
      flex: auto;
    }
  }

  &.variant {
    &-center-aligned {
      height: 64px;
    }

    &-small {
      height: 64px;
    }

    &-medium {
      height: 112px;

      &.scrolled {
        height: 64px;
      }
    }

    &-large {
      height: 152px;

      &.scrolled {
        height: 64px;
      }
    }
  }
}
