.material-divider {
  display: flex;
  border: none;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--color-outline-variant);

  &.vertical {
    width: 1px;
    align-self: stretch;
    min-height: 1.5em;
    max-height: 100%;
    border-left: 1px solid var(--color-outline-variant);
  }
}
