@use '../mixin';
@use '../spacing';
@use '../max-content';

@mixin flex-direction-rules($breakpoint) {
  &[data-direction-#{$breakpoint}='row'] {
    flex-direction: row;
  }
  [data-direction-#{$breakpoint}='row-reverse'] {
    flex-direction: row-reverse;
  }
  &[data-direction-#{$breakpoint}='column'] {
    flex-direction: column;
  }
  &[data-direction-#{$breakpoint}='column-reverse'] {
    flex-direction: column-reverse;
  }
}

@mixin flex-align-rules($breakpoint) {
  &[data-align-items-#{$breakpoint}='baseline'] {
    align-items: baseline;
  }
  &[data-align-items-#{$breakpoint}='center'] {
    align-items: center;
  }
  &[data-align-items-#{$breakpoint}='flex-start'] {
    align-items: flex-start;
  }
  &[data-align-items-#{$breakpoint}='flex-end'] {
    align-items: flex-end;
  }
  &[data-align-items-#{$breakpoint}='stretch'] {
    align-items: stretch;
  }
  &[data-justify-content-#{$breakpoint}='baseline'] {
    justify-content: baseline;
  }
  &[data-justify-content-#{$breakpoint}='center'] {
    justify-content: center;
  }
  &[data-justify-content-#{$breakpoint}='flex-start'] {
    justify-content: flex-start;
  }
  &[data-justify-content-#{$breakpoint}='flex-end'] {
    justify-content: flex-end;
  }
  &[data-justify-content-#{$breakpoint}='space-around'] {
    justify-content: space-around;
  }
  &[data-justify-content-#{$breakpoint}='space-between'] {
    justify-content: space-between;
  }
  &[data-justify-content-#{$breakpoint}='space-evenly'] {
    justify-content: space-evenly;
  }
  &[data-justify-content-#{$breakpoint}='stretch'] {
    justify-content: stretch;
  }
}

.material-flexbox {
  display: flex;
  @extend %spacing-rules;
  @extend %max-content-styles;

  @media screen and (min-width: 0) {
    @include flex-direction-rules('compact');
    @include flex-align-rules('compact');
  }

  @media screen and (min-width: 600px) {
    @include flex-direction-rules('medium');
    @include flex-align-rules('medium');
  }

  @media screen and (min-width: 840px) {
    @include flex-direction-rules('expanded');
    @include flex-align-rules('expanded');
  }

  @media screen and (min-width: 1200px) {
    @include flex-direction-rules('large');
    @include flex-align-rules('large');
  }

  @media screen and (min-width: 1400px) {
    @include flex-direction-rules('xlarge');
    @include flex-align-rules('xlarge');
  }
}
