@use '../mixin';

.material-iconbutton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--shape-circle);
  @include mixin.state-layer();

  &:hover {
    @include mixin.state-layer-hover();
  }

  &:focus {
    @include mixin.state-layer-focus();
  }

  &:disabled {
    color: var(--color-on-surface);
    pointer-events: none;

    > span {
      opacity: 0.38;
    }
  }

  &[aria-label] {
    &.tooltip-at-top {
      @include mixin.tooltip(0);
    }

    &.tooltip-at-bottom {
      @include mixin.tooltip(1);
    }
  }

  &.variant {
    &-standard {
      color: inherit;

      &[aria-pressed='true'] {
        color: var(--color-primary);
      }
    }

    &-outlined {
      color: inherit;
      border: 1px solid var(--color-outline);

      &:disabled {
        border-color: var(--color-outline-disabled);
      }

      &[aria-pressed='true'] {
        background-color: var(--color-inverse-surface);
        color: var(--color-on-inverse-surface);
        border: none;

        &:disabled {
          background-color: var(--color-outline-disabled);
        }
      }
    }

    &-filled {
      background-color: var(--color-primary);
      color: var(--color-on-primary);

      &:disabled {
        background-color: var(--color-outline-disabled);
      }

      &[aria-pressed='false'] {
        background-color: var(--color-surface-container-highest);
        color: var(--color-primary);
      }
    }

    &-tonal {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);

      &:disabled {
        background-color: var(--color-outline-disabled);
      }

      &[aria-pressed='false'] {
        background-color: var(--color-surface-container-highest);
        color: var(--color-on-surface-variant);
      }
    }
  }
}
