.material-navbar {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100dvw;
  height: 80px;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--color-surface-container);
  color: var(--color-on-surface-variant);
  padding-block-start: var(--spacing-md);
  padding-block-end: var(--spacing-lg);
  padding-inline: var(--spacing-xs);
  gap: var(--spacing-md);
  box-shadow: var(--elevation-2);
  transition-property: background-color, color;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);

  @media screen and (min-width: 600px) {
    display: none;
  }
}
