@use '../mixin';

.material-navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);

  > .indicator {
    width: 56px;
    height: 32px;
    position: relative;
    @include mixin.state-layer;
  }

  &:hover > .indicator {
    @include mixin.state-layer-hover;
  }

  &:focus > .indicator {
    @include mixin.state-layer-focus;
  }
}
