.material-navrail {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  max-width: 96px;
  height: 100dvh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  padding-block: var(--spacing-xl);
  padding-inline: var(--spacing-xs);
  gap: var(--spacing-md);
  transition-property: background-color, color;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);

  @media screen and (max-width: 599px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    &.hide-on-large {
      display: none;
    }
  }
}
