*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font: inherit;
}

html,
body {
  width: 100%;
  transition-property: background-color, color;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);
  background-color: var(--color-background);
  color: var(--color-on-background);
}

a {
  color: inherit;
  text-decoration: none;

  &:not([class]) {
    color: var(--color-primary);
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

pre,
code {
  font: var(--text-code);
}

strong,
b {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
