@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,0');

:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --shape-xs: 4px;
  --shape-xs-top: 4px 4px 0 0;
  --shape-sm: 8px;
  --shape-md: 12px;
  --shape-lg: 16px;
  --shape-lg-start: 16px 0 0 16px;
  --shape-lg-end: 0 16px 16px 0;
  --shape-lg-top: 16px 16px 0 0;
  --shape-xl: 28px;
  --shape-xl-top: 28px 28px 0 0;
  --shape-circle: 50%;
  --opacity-hover: 0.08;
  --opacity-focus: 0.12;
  --opacity-dragged: 0.16;
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-decelerated: cubic-bezier(0, 0, 0, 1);
  --ease-accelerated: cubic-bezier(0.3, 0, 1, 1);
  --ease-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --ease-emphasized-accelerated: cubic-bezier(0.3, 0, 0.8, 0.15);
  --ease-emphasized-decelerated: cubic-bezier(0.05, 0.7, 0.1, 1);
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-emphasized-duration: 500ms;
  --ease-emphasized-decelerate-duration: 400ms;
  --ease-standard-duration: 300ms;
  --ease-standard-decelerate-duration: 250ms;
  --ease-accelerate-duration: 200ms;
  --color-scrim: rgba(0, 0, 0, 0.32);
  --text-display-large: 400 57px/64px var(--font-title);
  --text-display-medium: 400 45px/52px var(--font-title);
  --text-display-small: 400 36px/44px var(--font-title);
  --text-headline-large: 400 32px/40px var(--font-title);
  --text-headline-medium: 400 28px/36px var(--font-title);
  --text-headline-small: 400 24px/32px var(--font-title);
  --text-title-large: 400 22px/28px var(--font-title);
  --text-title-medium: 600 16px/24px var(--font-title);
  --text-title-small: 600 14px/20px var(--font-title);
  --text-body-large: 400 16px/24px var(--font-content);
  --text-body-medium: 400 14px/20px var(--font-content);
  --text-body-small: 400 12px/16px var(--font-content);
  --text-label-large: 600 14px/20px var(--font-content);
  --text-label-medium: 600 12px/16px var(--font-content);
  --text-label-small: 600 11px/16px var(--font-content);
  --text-code: 400 14px/20px var(--font-code);
  --content-max-width: 1199px;
}
