#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#logo_appbar {
  width: 56px;
  height: 56px;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: column;
  padding-inline: var(--spacing-xl);
  padding-block: var(--spacing-xl);
  gap: var(--spacing-lg);
}

section > hgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

section > .showcase {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  flex-wrap: wrap;
}

section > .showcase.column {
  flex-direction: column;
  align-items: flex-start;
}
