#root {
  width: 100%;
}

@media screen and (max-width: 599px) {
  #root {
    display: flex;
    flex-direction: column;
  }

  main {
    min-height: calc(100dvh - 80px);
  }
}

@media screen and (min-width: 600px) {
  #root {
    display: grid;
    grid-template-columns: minmax(80px, 96px) auto;
  }
}

#logo_appbar {
  width: 56px;
  height: 56px;
}
